# Local development:
NEXT_PUBLIC_API_URL=http://localhost:8000/api

# Vercel production:
# NEXT_PUBLIC_API_URL=https://your-backend-domain.example.com/api
NEXT_PUBLIC_APP_NAME=Jurnalens
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
